<!DOCTYPE html>
<html lang="pt">
<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon/yuzaki_export.ico') }}">
    <meta charset="UTF-8">
    <title>Registar</title>
    <link href="{{url_for('static', filename='registar.css')}}" rel="stylesheet" />
</head>
<body> <div class="container">
        <h2>Registar</h2>
        <form action="{{ url_for('Registar') }}" method="POST">
            <input type="text" name="username" placeholder="Nome" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Senha" required>
            <input type="password" placeholder="Confirmar Senha" required>

            <button type="submit">Registar</button>

            <p class="termos-link">
                <a href="{{ url_for('Privacidade') }}">Ver Política de Privacidade</a>
            </p>
        </form>

        <div class="footer-link">
            <p>Já tens uma conta? <a href="{{ url_for('Entrar') }}">Voltar para o Login</a></p>
        </div>

        <p class="texto-termos">
            Ao apertar em 'Registar', estará de acordo com os 
            <a href="{{ url_for('Privacidade') }}" style="color: inherit; text-decoration: underline;">Termos e Políticas da Yuzaki Export</a>.
        </p>
    </div>
</body>
</html>